body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  box-sizing: border-box;
  display: block;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(100deg, #3625AF 0%, #C46BD5 98.82%) 100% 100%;
  color: #fff;
}
body ul {
  list-style: none;
  margin: 0;
}
body a {
  text-decoration: none;
  color: inherit;
}
body .header {
  display: flex;
  justify-content: space-between;
  width: 1507px;
  margin: 27px auto 54px;
  color: #FFF;
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 1.1875;
}
body .header .menu__items {
  display: flex;
  justify-content: space-between;
  column-gap: 39px;
}
body .header .menu__items .item {
  position: relative;
}
body .header .menu__items .item-sub.active::before {
  content: '';
  background: url(/img/menu_sub.svg) no-repeat;
  position: absolute;
  width: 24px;
  height: 24px;
  transform: translate(calc((4px + 100%) * -1), -12.5%) rotate(-45deg);
}
body .header .menu__items .sub__menu {
  border-radius: 7px;
  padding-top: 6px ;
  padding-bottom: 6px;
  background-color: #FFF;
  margin-top: 13px;
  margin-left: -28px;
  position: absolute;
  color: #5C39BA;
}
body .header .menu__items .sub__menu .sub__menu-items {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  padding-left: 19px;
  padding-right: 38px;
}
body .header .btn {
  display: block;
  border-radius: 4px;
  background: #302594;
  box-shadow: 0px 22px 22px 0px rgba(0, 0, 0, 0.15);
  line-height: 3.75;
  padding: 0 46px;
}
body .container {
  width: 1110px;
  margin: 0 auto;
}
body section {
  margin-bottom: 54px;
}
body .main__img {
  position: absolute;
  right: 0;
  border-top-left-radius: 150px;
  transform: translateX(0%);
  /*100%*/
  transition: transform 1s ease-out;
}
body .main__img.animate {
  transform: translateX(0);
}
body .content {
  max-width: 570px;
  padding-top: 40px ;
  line-height: 1.2;
  position: relative;
  margin-bottom: 64px;
}
body .content__title::after {
  position: absolute;
  content: '';
  background-color: #BAF1FF;
  width: 173px;
  height: 5px;
  left: 0;
  bottom: -11px;
}
body .content__title {
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 35px;
}
body .content__subtitle {
  font-size: 24px;
  font-weight: 400;
  max-width: 332px;
  margin-bottom: 6px;
}
body .feachers {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 451px;
  gap: 67px 30px ;
}
body .feachers__item {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}
body .feachers__item-img {
  margin-right: 27px;
}
